<a href="index.html" class="nav-link">Home</a>

a.nav-link:link
{
   color: whitesmoke;
   text-decoration: none;
}
a.nav-link:visited
{
   color: whitesmoke;
   text-decoration: none;
}
a.nav-link:hover
{
   color: whitesmoke;
   text-decoration: none;
}
a.nav-link:active
{
   color: whitesmoke;
   text-decoration: none;
}