body {
    
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 20px;
        max-width: 1200px;
        margin: 2rem auto;

    background-color: whitesmoke; 
.forum-regular {
  font-family: "Forum", serif;
  font-weight: 300;
  font-style: normal;
}

header {grid-column: 1/4; color: lightslategray; margin-left: 1rem;}
nav {grid-column: 1/4; color: whitesmoke; margin-left: 1rem;}
main {grid-column: 1/4; margin-left: 1rem}
p {color: lightslategray;
    text-align:left;
    padding-left: 3rem; 
    }
.casimage {float: right; margin-left: 5.5rem; margin-right: 3rem; margin-top: 1rem;
 box-shadow: 2px 4px 10px whitesmoke;}
.title {color: lightslategray;
    font-size: 6rem;
    margin: 10px;
    text-align: center;
}
.subtitle {color: lightslategray;
font-size: 2rem;
margin: 10px;
text-align: center;}

.quote {color: silver;
        font-size: 1.5rem;
        margin: 10px;
        text-align: center;}

.documents {color: lightslategray;
text-align: left;
margin-left: 3rem}

.icons {color: lightslategray;
margin: 10px;
text-align: left;
margin-left: 3rem}



